# Import nessesary function

In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [4]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::972027451368:role/dwhRole"

In [5]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Table designs

- Fact Table
 1. songplays  
     songplay_id integer,  
     start_time TIMESTAMP,  
     user_id integer,  
     level varchar,  
     song_id varchar,  
     artist_id varchar,  
     session_id integer,  
     location varchar,  
     user_agent varchar  
     
- Demension Table
 2. users  
     user_id integer,  
     first_name varchar,  
     last_name varchar,  
     gender varchar,  
     level varchar  
 3. songs  
     song_id varchar,  
     title varchar,  
     artist_id varchar,  
     year integer,  
     duration float8  
 4. artists  
     artist_id varchar,  
     name varchar,  
     location varchar,  
     lattitude float8,  
     longitude float8  
 5. time  
     start_time TIMESTAMP,  
     hour integer,  
     day integer,  
     week integer,  
     month integer,  
     year integer

# Analysis by using database

+ How many people downloaded songs?

In [6]:
schema = 'pro_dwh'
query = """
    SET search_path TO {};
    SELECT t2.year, t2.month, COUNT(DISTINCT t1.user_id) FROM songplays AS t1
    LEFT JOIN time AS t2
    ON t1.start_time = t2.start_time
    GROUP BY year, month
"""
t0 = time()
q = query.format(schema)
queryTime = time()-t0
%sql $q

 * postgresql://dwhuser:***@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[(2018, 11, 96)]

In [7]:
queryTime

6.29425048828125e-05

+ Does some heavy user exist?

In [8]:
schema = 'pro_dwh'
query = """
    SET search_path TO {};
    SELECT user_id, COUNT(user_id) AS count FROM songplays
    GROUP BY user_id
    ORDER BY count DESC LIMIT 5
"""
q = query.format(schema)
%sql $q

 * postgresql://dwhuser:***@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[(49, 689), (80, 665), (97, 557), (15, 463), (44, 397)]

+ What is many downloaded song?

In [9]:
schema = 'pro_dwh'
query = """
    SET search_path TO {};
    SELECT t1.song_id, t2.title, t3.name, COUNT(t1.song_id) AS count FROM songplays AS t1
    LEFT JOIN songs AS t2
    ON t1.song_id = t2.song_id
    LEFT JOIN artists AS t3
    ON t2.artist_id = t3.artist_id
    GROUP BY t1.song_id, t2.title, t3.name
    ORDER BY count DESC LIMIT 5
"""
q = query.format(schema)
%sql $q

 * postgresql://dwhuser:***@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('SOBONKR12A58A7A7E0', "You're The One", 'Dwight Yoakam', 37),
 ('SOHTKMO12AB01843B0', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ('SOUNZHU12A8AE47481', "I CAN'T GET STARTED", 'Ron Carter', 9),
 ('SOULTKQ12AB018A183', "Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ('SOLZOBD12AB0185720', "Hey Daddy (Daddy's Home)", 'Usher', 6)]

+ Do popular artists exist?

In [10]:
schema = 'pro_dwh'
query = """
    SET search_path TO {};
    SELECT t3.name, COUNT(t3.name) AS count FROM songplays AS t1
    LEFT JOIN songs AS t2
    ON t1.song_id = t2.song_id
    LEFT JOIN artists AS t3
    ON t2.artist_id = t3.artist_id
    GROUP BY t3.name
    ORDER BY count DESC LIMIT 5
"""
q = query.format(schema)
%sql $q

 * postgresql://dwhuser:***@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9)]

+ The song of the popular artsists is downloaded by same users?

In [11]:
schema = 'pro_dwh'
query = """
    SET search_path TO {};
    SELECT t3.name,t2.song_id, t1.user_id, COUNT(t3.name) AS count FROM songplays AS t1
    LEFT JOIN songs AS t2
    ON t1.song_id = t2.song_id
    LEFT JOIN artists AS t3
    ON t2.artist_id = t3.artist_id
    GROUP BY t1.user_id, t3.name, t2.song_id
    ORDER BY count DESC LIMIT 10
"""
t0 = time()
q = query.format(schema)
queryTime = time()-t0
%sql $q

 * postgresql://dwhuser:***@dwhcluster.c5c5qnu0k1ew.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
10 rows affected.

[('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 97, 5),
 ('Ron Carter', 'SOUNZHU12A8AE47481', 49, 4),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 49, 4),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 15, 3),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 24, 3),
 ('The Smiths', 'SOWEFTO12A3F1EB976', 97, 2),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 25, 2),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 73, 2),
 ('Dwight Yoakam', 'SOBONKR12A58A7A7E0', 88, 2),
 ('Usher', 'SOLZOBD12AB0185720', 73, 2)]